.logoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}


.logoContainer:hover {
  transform: scale(1.05);
}

.logoImage {
  object-fit: contain;
  user-select: none;
}
