.header {
  display: flex;
  align-items: center;

  padding: 12px 24px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.08);
}

.actions {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 1;
  gap: 0.5rem;
  opacity: 1 ;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}


@media (max-width: 1100px) {

  .actions, .navBar{
    opacity: 0;
    visibility: hidden;    
  }
}



